<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <% for(var i=0;i<list.length;i++){ %> 
         <ul>
       <li><%=JSON.stringify(list[i])%></li> 
    </ul>
     <%}%>
  </body>
</html>
